body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: black;
  height: 100vh
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.postCard {
  max-width: 400px;
  margin: 20px;
  background-color: #1c1c1c;
  color: white;



}

.posts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  max-height: 600px;
}

.like-comment {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;

}

.likeButton {
  color:rgb(143, 142, 142);
  text-decoration: none;
}

.commentButton {
  color:rgb(143, 142, 142) ;
  text-decoration: none;
}

.posts-followers-container {
  display: flex;
  flex-direction: row;
  justify-content:end;

}

.followersFollowing {
  display: flex;
  width: 20%;
  justify-content: end;
  height: 100vh;
}

.followersCard {
  width: 100%;
  background-color: #1c1c1c;
  margin: 20px

}

.followersSwitch {
  background-color:#202945;
}

.followersSwitch:hover {
  background-color:#121829;
}

.profile-handle {
  margin: 10px;
  text-align: left;
} 

.comment-header {
  margin-bottom: 1px;
  color:rgb(143, 142, 142)
}

span.profile-name {
  font-weight: bolder;
}

.card-body {
  padding: 8px 16px;
}

.main-post {
  max-height: 125px;
}

.handle-name {
  font-weight: bold;
}

.caption span {
  font-weight:lighter;
}

.navbar-brand {
  color:white
}

.nav-link {
  color:rgb(143, 142, 142)
}

.nav-link:active {
  color:rgb(143, 142, 142)
}

.searchButton {
  background-color:#202945;
  border-color: rgb(143, 142, 142);
  color: white;
}

.searchButton:hover {
  background-color:#121829;
  border-color: rgb(143, 142, 142);
  color: white;
}